[submodule "submodules/SHiELD_build"]
	path = submodules/SHiELD_build
	url = https://github.com/NOAA-GFDL/SHiELD_build.git
[submodule "submodules/SHiELD_SRC/FMS"]
	path = submodules/SHiELD_SRC/FMS
	url = https://github.com/NOAA-GFDL/FMS.git
[submodule "submodules/SHiELD_SRC/FMSCoupler"]
	path = submodules/SHiELD_SRC/FMSCoupler
	url = https://github.com/NOAA-GFDL/FMSCoupler.git
[submodule "submodules/SHiELD_SRC/GFDL_atmos_cubed_sphere"]
	path = submodules/SHiELD_SRC/GFDL_atmos_cubed_sphere
	url = https://github.com/NOAA-GFDL/GFDL_atmos_cubed_sphere.git
[submodule "submodules/SHiELD_SRC/SHiELD_physics"]
	path = submodules/SHiELD_SRC/SHiELD_physics
	url = https://github.com/NOAA-GFDL/SHiELD_physics.git
[submodule "submodules/SHiELD_SRC/atmos_drivers"]
	path = submodules/SHiELD_SRC/atmos_drivers
	url = https://github.com/NOAA-GFDL/atmos_drivers.git
[submodule "submodules/SHiELD_SRC/ocean_null"]
	path = submodules/SHiELD_SRC/ocean_null
	url = https://github.com/NOAA-GFDL/ocean_null.git
[submodule "submodules/SHiELD_SRC/land_null"]
	path = submodules/SHiELD_SRC/land_null
	url = https://github.com/NOAA-GFDL/land_null.git
[submodule "submodules/SHiELD_SRC/ice_null"]
	path = submodules/SHiELD_SRC/ice_null
	url = https://github.com/NOAA-GFDL/ice_null.git
[submodule "submodules/SHiELD_SRC/ice_param"]
	path = submodules/SHiELD_SRC/ice_param
	url = https://github.com/NOAA-GFDL/ice_param.git
